requests[socks]
python-dotenv
aiohttp
aiofiles
beautifulsoup4
stem
lxml
colorama
fake-useragent
python-dateutil
2captcha-python
plyer
numpy
pymediainfo
exifread
click
pillow
python-docx
yt-dlp
urllib3
pycountry
dnspython
tldextract
python-whois
faker
torpy
rstr
