requests[socks]
python-dotenv
aiohttp
aiofiles
beautifulsoup4
stem
lxml
tqdm
colorama
python-dateutil
opencv-python
numpy
click
pillow
yt-dlp
urllib3
pycountry
dnspython
tldextract
python-whois
faker
torpy
rstr
